HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log
spring.log

# OS files
Thumbs.db
.DS_Store

# Environment
.env

# Database
*.h2.db
*.mv.db
*.trace.db

# Test
/test-output/
